.new-topic {
    background: var(--branco);
    display: none;
}

.new-topic--active {
    display: block;
    height: 30vh;
    top: 35px;
    right: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
} 

.sugestao {
    color: var(--fonte-cinza-claro);
    font-family: var(--quicksand);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.label-assunto, .label-conteudo {
    color: var(--fonte-laranja-medio);
    font-family: var(--roboto);
    font-size: .8rem;
    font-style: normal;
    font-weight: bold;
    line-height: 10px;
    padding: 8px 0;
}

#assunto, #mensagem {
    background: var(--branco);
    border: 1px solid var(--cinza-medio);
    border-radius: 3px;
}

#assunto::placeholder {
    color: var(--fonte-cinza-medio);
    font-family: var(--quicksand);
    font-size: .6rem;    
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    padding: 5px 8px;
}

.textarea {
    background: var(--cinza-);
    border: 1px solid var(--cinza-medio);
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: space-between;
}

.type-txt {
    padding: 2px 0 2px 10px;
}

.type-txt .negrito {
    font-size: 1rem;
    font-weight: bold;
    padding-right: 5px;
}

.type-txt .italico {
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.textarea .btn-txtarea {
    align-items: center;
    background: var(--laranja-medio);
    border: 0;
    border-radius: 2px;
    color: var(--branco);
    font-family: var(--roboto);
    font-size: 0.7rem;
    width: 30%;
}

@media screen and (min-width: 768px) {

    .new-topic--active {
        height: 30vh;
        top: 36px;
    } 
}

@media screen and (min-width: 1280px) {

    .new-topic--active {
        height: 32vh;
        padding: 1rem 2rem;
    } 

    .sugestao {
        font-size: 1rem;
    }

    .label-assunto, .label-conteudo {
        font-size: 1rem;
    }

    #assunto::placeholder {
        font-size: .9rem;    
    }
    
    .type-txt .negrito, .italico {
        font-size: 1.2rem;
    }

    .type-txt .italico {
        font-size: 1.2rem;
    }

    .textarea .btn-txtarea {
        font-size: .9rem;
        width: 25%;
    }
}