/* Estrutura para a barra lateral */
.backdrop {
    background: var(--branco);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Irá deixar a barra lateral como block, após o icone do menu ser clicado */
.backdrop--active {
    display: block;
}

/* Estilização e posicionamento da barra lateral */
.sidebar-menu {
    background: var(--branco);
    box-shadow: 0px 0px 10px var(--preto-shadow);
    height: 100%;
    left: 0;
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    max-width: 18rem;
    width: 70%;
}

/* Fará com que o menu apareça após ser clicado */
.sidebar-menu--active {
    transform: translateX(0);
}

/* Estilização do título da sidebar */
.container-sidebar-title {
    background: var(--laranja-escuro);
    height: 3rem;
    left: 0;
    top: 0;
}

.text-sidebar {
    bottom: 0%;
    color: var(--branco);
    font-family: var(--roboto);
    font-style: normal;
    font-weight: bold;
    left: 9%;
    line-height: 3rem;
    right: 10%;
    text-align: center;
    top: 0%;
}

/* Estilização da imagem de logo que há na sidebar */
.logo > img {
    align-items: center;
    height: 40vh;
    left: 0;
    position: static;
    top: 6%;  
    width: 95%;
}

/* Estilização dos itens do menu */
.container-menu-nav > ul .menu-nav {
    background: var(--branco);
    list-style: none;
    width: 100%;
}

.container-menu-nav > ul > li {
    border-bottom: var(--cinza-claro) solid 1px;
    color: var(--fonte-marrom-claro);
    font-family: var(--quicksand);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3rem;
    width: 100%;
}

/* Estilização do link que há no menu */
.container-menu-nav > ul > li a {
    border-left: 3px solid transparent;
    color: var(--fonte-marrom-claro);
    display: block;
    padding-left: 2rem;
    text-decoration: none;

}

/* Faz com que o item do menu mude de cor quando passar o mouse */
.container-menu-nav > ul > li a:hover {
    background: var(--bege-claro);
    border-left-color: var(--laranja);
}