*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

:root {
    --branco: #FFF;
    --bege-claro: #FDF1EB;
    --cinza-claro: #E5E5E5;
    --cinza-: #EAF1F2;
    --cinza: #ECECEC;
    --cinza-medio: #CCCCCC;
    --cinza-escuro: #4E4E4E;
    --laranja: rgb(248, 83, 6);
    --laranja-medio: #ED7839;
    --laranja-transparencia: rgba(248, 83, 6, 0.5);
    --laranja-escuro: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    --laranja-escuro-li: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    --marrom-claro: rgba(141, 53, 6, 0.5);
    --preto-shadow-claro: rgba(0, 0, 0, 0.12);
    --preto-shadow: rgba(0, 0, 0, 0.25);


    --fonte-branca: #FFF;
    --fonte-cinza: ##ADA0A0;
    --fonte-cinza-claro: #5C5C5C;
    --fonte-cinza-medio2: #4D4D4D;
    --fonte-cinza-medio: #4E4E4E;
    --fonte-cinza-escuro: #333333;    
    --fonte-laranja-medio: #ED7839;
    --fonte-marrom-claro: #725C5C;

    --roboto: 'Roboto', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
}

